/* =Subscribe widget
===================================================== */

// Widget: Subscribe
//
// Subscribe jetpack widget
//
// Markup: widget-subscribe.html
//
// Style guide: 6.widget.subscribe

.jetpack_subscription_widget {

  text-align: center;

  &:before {
    z-index: 1;
  }

  &:after {
    z-index: 2;
  }


  .widget-title {
    position: relative;
    z-index: 6;
    color: $color-brand-white;
    font-size: ms(2);
  }

  form {
    position: relative;
    z-index: 6;
  }

  p {

    margin: 0;
    color: rgba($color-brand-white,.8);

  }

  input[type="email"] {

    width: 100%!important; // Override jetpack CSS

  }

  input[type="submit"] {

    width: 100%;
    color: $color-brand-white;
    text-transform: uppercase;
    height: rem(53);
    background-color: $color-button-secondary;
    transition: all 0.1s ease;

    &:hover,
    &:focus,
    &:active {

      color: $color-brand-white;
      background-color: $color-button-primary;

    }

  }

  #subscribe-text {

    margin-bottom: $unit-m;

  }

  #subscribe-email,
  #subscribe-submit {

    display: inline-block;
    width: rem(200);
    margin: rem(4);
    vertical-align: top;

  }

  #subscribe-email {

    @include breakpoint(small) {

      width: rem(400);

    }

  }

  #subscribe-submit {

  }

}