/*
 * Widgets
 */

.widget {

  @include container-padding(1.5);
  position: relative;
  max-width: $container-max-width;

  &.widget_blog_subscription {
    background-color: $color-brand-secondary !important;
    box-shadow: none !important;

    &:before {
      background-color: $color-brand-secondary !important;
    }
  }

}

.widget-title {

  font-size: ms(2);
  line-height: ms(1);
  position: relative;
  z-index: 6;
  color: $color-brand-secondary;

}


/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#before-content-widgets .widget,
#secondary .widget {

  // padding-left: 0;
  // padding-right: 0;
  text-align: center;

  > * {

    position: relative;
    z-index: 6;

  }

  &:before {
    content: "";

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    box-shadow: 10px 20px 50px 0 rgba($color-brand-primary, 0.1);
    background: linear-gradient(to bottom, rgba($color-brand-primary, 0) 0%, rgba($color-brand-primary, 0.03) 50%, rgba($color-brand-primary, 0.03) 100%);

    //background: url(https://raw.githubusercontent.com/wordcamplodz/wordcamplodz-graphics/master/hero-large.jpg) center center / cover !important;

  }

  &:after {
    //content: "";

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background-color:  rgba($color-brand-primary, 0.8);
  }

}


/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {

  //background-color: $color-grey-10;
  position: relative;
  z-index: 6;

  &:before {

    background-color: $color-grey-10!important;

  }

}