/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default * 3;
  //padding-bottom: $unit-default;
  border-bottom: 1px solid rgba($color-brand-primary, 0.05);
  position: relative;

  &:after {
    content: "";
    bottom: 0px;
    left: 0;
    width: rem(100);
    height: rem(3);
    background-color: $color-brand-secondary;
    z-index: 3;
    transform: translateY(2px);
  }

}

.entry-header {}

.entry-content {

  @include clearfix();

  h1, h2, h3, h4, h5, h6 {
    margin: $unit-l 0 $unit-m 0;
  }

  h2 {
    font-size:$unit-l;
    color: $color-brand-primary !important;
  }

  h3 {
    font-size: $unit-m;
    color: $color-brand-primary !important;
  }

  h4 {
    font-size: $unit-s;
    color: $color-brand-primary !important;
  }
}

.entry-title {

  font-size: ms(3.5);
  line-height: ms(1);

  margin-bottom: $unit-default;

  a {

    color: $color-brand-primary;

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-bottom: $unit-l;
  font-size: ms(-1);
  line-height: ms(1);
  text-transform: lowercase;

  a {

    color: $color-brand-primary;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;
  margin-top: $unit-default;
  font-size: ms(-1);
  line-height: ms(1);

  //@include font-size(16);
  //line-height: em(24,16);
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  .tags-links {

    a {
      color: $color-brand-primary;

      &:hover, &:focus {
        color: $color-link-alt-hover;
      }
    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}