/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: 6px double $color-border-weak;

}

.entry-header {}

.entry-content {

  @include clearfix();

}

.entry-title {

  font-size: ms(2);
  line-height: ms(1);

  margin-bottom: $unit-default;

  a {

    color: $color-brand-primary;

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-bottom: $unit-l;
  font-size: ms(-1);
  line-height: ms(1);

  a {

    color: $color-brand-primary;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;
  margin-top: $unit-default;

  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  .tags-links {

    a {
      color: $color-brand-primary;

      &:hover, &:focus {
        color: $color-link-alt-hover;
      }
    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}