/* =Forms
===================================================== */
.contact-form {
    padding: $unit-l;
    margin-top: $unit-l;
    margin-bottom: $unit-l;
    background-color: rgba($color-brand-primary, 0.03);
}

.contact-form label.checkbox,
.contact-form label.radio {
    font-size: ms(-1);
    line-height: ms(1);
}

.contact-form label {
    font-size: ms(0);
    line-height: ms(1);
}

input:not([type]), input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
    width: 100% !important;
    max-width: 100% !important;
    margin: $unit-xs auto $unit-s auto !important;
}