/* =Social widget
===================================================== */

// Widget: Social
//
// Custom social widget
//
// Markup: widget-text-social.html
//
// Style guide: 6.widget.text-social

#text-2 {

  &:before {}

}

/*
 * Social list
 *
 * Large social list buttons for Twitter and Facebook
 */

.list-social {

  @include clearfix();
  @include list-reset();
  text-align: center;

  li {

    font-size: ms(0);
    line-height: ms(1);

    display: block;
    margin-top: $unit-s;

    color: $color-brand-white;

    text-align: center;

    @include breakpoint(extra-small) {

      width: 46%;
      display: inline-block;

    }

    @include breakpoint(small) {

      width: 30%;
      min-width: rem(200);

    }

  }

  strong {

    display: block;
    color: inherit;

  }

  a {

    position: relative;

    display: block;
    padding: $unit-s $unit-m;
    padding-top: rem(90);


    color: $color-brand-white;
    border-radius: $border-radius-small;
    text-decoration: none;
    background: none !important;

    &:empty {

      display: none;

    }

    &:before {

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      display: block;
      width: rem(66);
      height: rem(66);
      border: 2px solid $color-brand-white;

      content :"";

      border-radius: 50%;
      transition: all .1s ease;

    }

    &:after {

      position: absolute;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);

      width: rem(66);
      height: rem(66);

      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: auto 25px;
      z-index: 8;

      content :"";

    }

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;
      color: $color-brand-white;
      background-color: $color-brand-primary;

      &:before {

        //background-color: tint($color-brand-primary, 60%);
        border-color: $color-brand-secondary;
        background-color: $color-brand-secondary;

      }

    }

  }

  .social-twitter a:after {

    background-image: url('https://raw.githubusercontent.com/wordcamplodz/wordcamplodz-graphics/master/twitter-logo.png');

  }

  .social-facebook a:after {

    background-image: url('https://raw.githubusercontent.com/wordcamplodz/wordcamplodz-graphics/master/facebook-logo.png');

  }

  .social-instagram a:after {

    background-image: url('https://raw.githubusercontent.com/wordcamplodz/wordcamplodz-graphics/master/instagram.png');

  }

}