/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description.
//
// Markup: branding.html
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <header id="masthead" class="site-header" role="banner"> ... </header>
 */

.site-header {

  background-color: $color-brand-primary;

  &:before {
    background-image: linear-gradient(171.18deg, rgba($color-brand-primary, 0.7), rgba($color-brand-primary, 1) 90.96%)!important;
    background-color: transparent !important;
  }

}

.site-header .site-branding {

  position: relative; // Add position: relative to keep the light beams from leaking out
  overflow: hidden; // Add overflow: hidden to keep light beams from leaking out

  @include container-padding(1.5);

  text-align: center;

  .home & {

    @include container-padding(1.5);

  }

}

.site-title {
  margin: 0;

  font-size: ms(3);
  line-height: 1;
  font-family: $font-headline;
  font-weight: $bold;
  color: $color-brand-white;
  transform: translate3d(0,0,0);

  a {
    background: none!important;
    display: block;
    color: $color-brand-white;
    @include transition-slow;

    &:hover,
    &:focus,
    &:active {
      background: none!important;
      color: $color-brand-white;
      text-decoration: none;
    }

  }

  a:before {
    content: "";

    display: block;
    width: ($site-logo-width * $site-logo-proportion);
    height: ($site-logo-height * $site-logo-proportion);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $unit-xl;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: $site-logo-path!important;
    background-size: 99%;

  }

}

.site-description {

  margin: 0;
  margin-top: $unit-s;

  font-size: ms(0);
  line-height: ms(1);
  font-family: $font-body;
  font-weight: $bold;
  text-transform: none;
  color: $color-brand-secondary;
  transform: translate3d(0,0,0);

}