/* =Footer
===================================================== */

// Footer
//
// Footer of the site (includes site info and widgets)
//
// Markup: footer.html
//
// Style guide: 6.footer

/*
 * Footer
 *
 * Footer container
 * <footer id="colophon" class="site-footer" role="contentinfo"> ... </footer>
 */

 #colophon {

  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: $unit-xl;

  text-align: center;

}

.site-info-generator {

  @include visually-hidden();

}

.site-info-network {

  // @include hide-text();

  position: relative;

  display: block!important;
  width: rem(60)!important;
  height: rem(60)!important;
  margin: 0 auto;
  margin-bottom: $unit-m;

  color: #fff;
  text-indent: -9999px!important;

  background-image: url('https://raw.githubusercontent.com/wordcamplodz/wordcamplodz-graphics/master/wordpress_logo.png')!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-color: $color-brand-primary;
  background-size: 50px!important;
  border-radius: 50%!important;

  @include transition-fast;

  &:after {

    position: absolute;
    left: 50%;
    top: rem(30);
    z-index: -1;

    margin-left: -(rem(15));
    margin-bottom: -(rem(30));
    width: rem(30);
    height: rem(100);

    background: $color-brand-primary;
    transition: all .3s ease;

    //content: "";

  }

  &:hover,
  &:focus,
  &:active {

    background-position: center!important;
    background-repeat: no-repeat!important;
    background-color: $color-brand-primary;
    background-size: 50px!important;
    border-radius: 50%!important;
    
  }

}