/* =Lists
===================================================== */

// Links
//
// Link examples
//
// :hover - Hover state
// :focus - Focus state
// :visited - Visited state
//
// Markup:
// <a href="#">Link example</a>
//
// Style guide: 4.links

a:not(.button) {

  color: $color-link;
  text-decoration: none;
  @include transition-normal();
  display: inline;
  background-image: linear-gradient(transparent calc(100% - 1px), rgba($color-link, 1) 0px);
  background-repeat: repeat-y;
  background-size: 0% 100%;
  background-position: 0 100%;

  &:hover {
    
    color: $color-link-hover;
    text-decoration: none; // old underline
    background-size: 100% 100%!important;

  }

  &:focus {

    color: $color-link-hover;
    text-decoration: none; // old underline
    background-size: 100% 100%!important;

  }

  &:active {

    color: $color-link-hover;
    text-decoration: none;

  }

  // &:visited {

    // color: shade($color-link, 50%);

  // }

}