// Gutenberg Blocks 
.wp-block-table {

    &.alignfull {

        td {
            font-size: $unit-s2;

            strong {
                display: block;
                font-size: $unit-s;
                color: $color-brand-secondary;
            }
        }

        @include breakpoint(extra-large) {

            width: calc(100% + 400px);
            transform: translateX(-200px);
        
        }
    }

}