// Gutenberg Blocks 
.wp-block-table {

    &.alignfull {

        td {
            font-size: $unit-s2;

            strong {
                display: block;
                font-size: $unit-s;
                color: $color-brand-secondary;
            }
        }

        @include breakpoint(extra-large) {

            width: calc(100% + 400px);
            transform: translateX(-200px);
        
        }
    }

}

.category {
    h1 {

        &.page-title {
            font-size: $unit-m;
            padding-bottom: $unit-l;
            margin-bottom: $unit-l;
            position: relative;

            &:before {
                content: "";
                width: 100px;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-30px);
                background-color: $color-brand-secondary; 
            }
        }
    
    }
}

